<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<title>Petfy - Cadastrar Estabelecimento</title>
</head>
<body>
	<div layout:fragment="content">
        <div class="col s12">
          <div class="card">
            <div class="card-content">
              <span class="card-title">Cadastrar Estabelecimento</span>
              <form class="s12" th:action="@{/admin/estabelecimento/cadastrar}" th:object="${estabelecimento}" method="post">
				<div class="row">
			        <div class="input-field col s4">
			          <input id="nome" type="text" th:field="*{nome}"/>
			          <label for="nome">Nome</label>
			        </div>
			        <div class="input-field col s4">
			          <input id="razaoSocial" type="text" th:field="*{razaoSocial}"/>
			          <label for="v">Razão Social</label>
			        </div>
			        <div class="input-field col s4">
			          <input id="cnpj" type="text" th:field="*{cnpj}"/>
			          <label for="cnpj">CNPJ</label>
			        </div>
		      	</div>
		      	<div class="row">
			        <div class="input-field col s6">
			          <input id="endereco" type="text" th:field="*{endereco}"/>
			          <label for="endereco">Endereco</label>
			        </div>
			        <div class="input-field col s2">
			          <input id="numero" type="text" th:field="*{numero}"/>
			          <label for="numero">Número</label>
			        </div>
			        <div class="input-field col s4">
			          <input id="bairro" type="text" th:field="*{bairro}"/>
			          <label for="bairro">Bairro</label>
			        </div>
		      	</div>
		      	<div class="row">
			        <div class="input-field col s6">
			          <input id="cidade" type="text" th:field="*{cidade}"/>
			          <label for="cidade">Cidade</label>
			        </div>
			        <div class="input-field col s2">
			          <input id="estado" type="text" th:field="*{estado}"/>
			          <label for="estado">Estado</label>
			        </div>
			        <div class="input-field col s4">
			          <input id="telefone" type="text" th:field="*{telefone}"/>
			          <label for="telefone">Telefone</label>
			        </div>
		      	</div>
		      	<div class="row">
			        <div class="input-field col s6">
			          <input id="latitude" type="text" th:field="*{latitude}"/>
			          <label for="latitude">Latitude</label>
			        </div>
			        <div class="input-field col s2">
			          <input id="longitude" type="text" th:field="*{longitude}"/>
			          <label for="longitude">Longitude</label>
			        </div>
		      	</div>
		      	<div class="row">
	      			<button type="submit" class="waves-effect waves-light btn right">Cadastrar</button>
	      		</div>
			</form>
            </div>
          </div>
        </div>
    </div>
	
	<section layout:fragment="js">
		<!-- inclui aqui os javascripts específicos dessa página -->
	</section>

</body>
</html>