<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<title>Petfy - Cadastrar Proprietário</title>
    <link th:href="@{http://fonts.googleapis.com/icon?family=Material+Icons}" rel="stylesheet"/>
	<link th:href="@{/css/materialize.min.css}" type="text/css" rel="stylesheet" media="screen,projection"/>
	<link th:href="@{/css/jquery.dataTables.min.css}" type="text/css" rel="stylesheet" media="screen,projection"/>
	<link th:href="@{/css/petcare.css}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
	<header>
		<nav class="top-nav teal">
			<div class="nav-wrapper">
		      <a href="#" class="brand-logo left">Petfy</a>
		      <ul id="nav-mobile" class="left hide-on-med-and-down">
		        <li><a th:href="@{/admin/proprietario/listar}">Proprietários</a></li>
		        <li><a th:href="@{/admin/estabelecimento/listar}">Estabelecimentos</a></li>
		        <li><a th:href="@{/admin/tipo-servico-estabelecimento}">Gerenciar</a></li>
		      </ul>
		    </div>
		</nav>
	</header>
	
	<div class="container">
		<div layout:fragment="content">
      </div>
    </div>
	
	<!--Import jQuery before materialize.js-->
    <script type="text/javascript" th:src="@{https://code.jquery.com/jquery-2.1.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/materialize.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.dataTables.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/petcare.js}"></script>
    
    <section layout:fragment="js"></section>

</body>
</html>