<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout"
	th:with="currentPage='proprietarios'">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<title>Petfy - Proprietários</title>
</head>
<body>
	<div class="row" layout:fragment="content">
        <div class="col s12">
          <div class="card">
            <div class="card-content">
              <span class="card-title">Proprietários</span>
				<form class="s12" th:action="@{/admin/proprietario/cadastrar}" th:object="${proprietario}" method="post">
					<input th:field="*{id}" type="hidden"/>
					<div class="row">
						<div class="input-field col s4">
							<input id="nome" type="text" th:field="*{usuario.nome}" required="required"/>
							<label for="nome">Nome</label>
						</div>
						<div class="input-field col s4">
							<input id="email" type="email" th:field="*{usuario.email}" required="required"/>
							<label for="email">Email</label>
						</div>
						<div class="input-field col s4">
							<input id="telefone" type="text" th:field="*{telefone}" required="required" />
							<label for="telefone">Telefone</label>
						</div>
					</div>
					<div class="row">
						<button type="submit" class="waves-effect waves-light btn right">Cadastrar</button>
					</div>
				</form>
				<table class="hover stripe table-datatables">
	              <thead>
			            <tr>
			                <th>Nome</th>
			                <th>Email</th>
			                <th>Telefone</th>
			                <th></th>
			            </tr>
			        </thead>
			        <tbody>
			        	<tr th:each="prop : ${proprietarios}">
			        		<td><a th:href="@{'/admin/proprietario/detalhes/' + ${prop.id}}" th:text="${prop.usuario.nome}"></a></td>
			        		<td th:text="${prop.usuario.email}"></td>
			        		<td th:text="${prop.telefone}"></td>
			        		<td>
			        			<a th:if="${prop.usuario.habilitado}" th:href="@{'/admin/proprietario/desativar/' + ${prop.id}}" title="desabilitar">
			        				<i class="small material-icons i-teal">done</i>
			        			</a>
			        			<a th:if="${!prop.usuario.habilitado}" th:href="@{'/admin/proprietario/ativar/' + ${prop.id}}" title="habilitar">
			        				<i class="small material-icons i-red">clear</i>
			        			</a>
			        			<a th:href="@{'/admin/proprietario/editar/' + ${prop.id}}" title="editar"><i class="small material-icons">create</i></a>
			        			<a th:href="@{'/admin/proprietario/excluir/' + ${prop.id}}" title="excluir"><i class="small material-icons i-red">delete</i></a>
			        		</td>
			        	</tr>
			        </tbody>
              	</table>
            </div>
          </div>
        </div>
    </div>
</body>
</html>