<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Petcare - Novo Proprietário</title>
	<link th:href="@{/resources/css/bootstrap.min.css}" type="text/css" rel="stylesheet" media="screen,projection"/>
	<link th:href="@{/resources/css/jquery.dataTables.min.css}" type="text/css" rel="stylesheet" media="screen,projection"/>
	<link th:href="@{/resources/css/style.css}" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
	<header>
		<nav class="navbar navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">
						<img id="img-logo" alt="Logo Petcare" th:src="@{/resources/images/pet-icon.png}"/>
						Petcare
					</a>
				</div>

				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav">
						<li><a id="menu-estabelecimentos" th:href="@{/estabelecimento/listar}">Estabelecimentos</a></li>
						<li><a id="menu-proprietarios" th:href="@{/proprietario/listar}">Proprietários</a></li>
						<li><a id="menu-tipo-estabelecimentos" href="#">Tipos de Estabelecimentos</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</header>

	<div class="container">
		<form th:object="${proprietario}" th:action="@{/proprietario/cadastrar}" action="#" method="POST" class="form-horizontal">
			<h5><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Novo Proprietário</h5>
			<div class="form-group col-sm-12">
			  <label class="control-label" for="nome">Nome</label>
			  <input th:field="*{nome}" class="form-control input-sm" id="nome" type="text"/>
			</div>
			<div class="form-group">
				<div class="col-sm-4">
					<label for="email" class="control-label">Email</label>
					<input th:field="*{usuario.email}" type="email" class="form-control input-sm" id="email"/>
				</div>
				<div class="col-sm-4">
					<label for="telefone" class="control-label">Telefone</label>
					<input th:field="*{telefone}" type="text" class="form-control input-sm" id="telefone"/>
				</div>
				<div class="col-sm-4">
					<label for="senha" class="control-label">Senha</label>
					<input th:field="*{usuario.password}" type="password" class="form-control input-sm" id="senha"/>
				</div>
			</div>
			<div class="form-group">
				<button class="btn btn-success right" type="submit">Cadastrar</button>
			</div>
		</form>
	</div>

	<script type="text/javascript" th:src="@{/resources/js/jquery-1.12.3.min.js}"></script>
	<script type="text/javascript" th:src="@{/resources/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/resources/js/jquery.dataTables.min.js}"></script>
	<script type="text/javascript" th:src="@{/resources/js/petcare.js}"></script>
	
	<script type="text/javascript">
		$("#menu-proprietarios").addClass('active');
	</script>
</body>
</html>