<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Petcare - Novo Serviço</title>
	<link th:href="@{/resources/css/bootstrap.min.css}" type="text/css" rel="stylesheet" media="screen,projection"/>
	<link th:href="@{/resources/css/jquery.dataTables.min.css}" type="text/css" rel="stylesheet" media="screen,projection"/>
	<link th:href="@{/resources/css/font-awesome.min.css}" type="text/css" rel="stylesheet" media="screen,projection"/>
	<link th:href="@{/resources/css/style.css}" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
	<header>
		<nav class="navbar navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">
						<img id="img-logo" alt="Logo Petcare" th:src="@{/resources/images/pet-icon.png}"/>
						Petcare
					</a>
				</div>

				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav">
						<li><a id="menu-estabelecimentos" th:href="@{/estabelecimento/listar}">Estabelecimentos</a></li>
						<li><a id="menu-proprietarios" th:href="@{/proprietario/listar}">Proprietários</a></li>
						<li><a id="menu-tipo-servicos" th:href="@{/servico/listar}">Serviços</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</header>

	<div class="container">
		<form th:object="${servico}" th:action="@{/servico/editar}" action="#" method="POST" class="form-horizontal">
			<input th:field="*{id}" type="hidden"/>
			<div class="form-group">
				<div class="col-sm-4">
					<label for="nome" class="control-label">Nome</label>
					<input th:field="*{nome}" type="text" value="*{nome}" class="form-control input-sm" id="nome"/>
				</div>
				<div class="col-sm-4">
					<label for="categoria" class="control-label">Categoria</label>
					<select id="categoria" th:field="${servico.categoria.id}"  class="form-control input-sm">
						<option th:each="c : ${categorias}" selected="selected" th:text="${c.nome}" th:value="${c.id}"></option>
					</select>
				</div>
				<div class="col-sm-12">
					<label for="nome" class="control-label">Descrição</label>
					<input th:field="*{descricao}" value="*{descricao}" th:type="text" class="form-control input-sm" id="nome"/>
				</div>
			</div>

			<div class="form-group">
				<button class="btn btn-success right" type="submit">Atualizar</button>
			</div>
		</form>
	</div>

	<script type="text/javascript" th:src="@{/resources/js/jquery-1.12.3.min.js}"></script>
	<script type="text/javascript" th:src="@{/resources/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/resources/js/jquery.dataTables.min.js}"></script>
	<script type="text/javascript" th:src="@{/resources/js/petcare.js}"></script>
	
	<script type="text/javascript">
		$("#menu-proprietarios").addClass('active');
	</script>
</body>
</html>