<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<title>Petcare - Proprietários</title>
	<th:block th:include="fragments/head :: head"></th:block>
</head>
<body>
	<th:block th:include="fragments/header :: header"></th:block>
	<div class="container">
		<div th:if="${info != null}" class="alert alert-dismissible alert-success">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			<strong th:text="${info}"></strong>
		</div>
		<a th:href="@{/proprietario/cadastrar}" class="btn btn-success mg-b-20">Novo proprietário</a>
	   	<table class="hover stripe">
			<thead>
				<tr>
					<th>Nome</th>
					<th>Email</th>
					<th>Telefone</th>
					<th>Status</th>
					<th></th>
				</tr>
			</thead>
	
			<tbody>
				<tr th:each="p : ${proprietarios}">
					<td><a th:text="${p.nome}" th:href="@{/proprietario/detalhes/} + ${p.id}"></a></td>
					<td th:text="${p.usuario.email}"></td>
					<td th:text="${p.telefone}"></td>
					<td th:if="${p.usuario.habilitado}">
						<span class="label label-success">habilitado</span>
					</td>
					<td th:if="${!p.usuario.habilitado}">
						<span class="label label-danger">desabilitado</span>
					</td>
					<td>
						<a th:href="@{/proprietario/editar/} + ${p.id}" class="btn btn-default btn-sm" title="Editar">
							<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
						</a>
					</td>
				</tr>
			</tbody>
		</table>
    </div>
    <th:block th:include="fragments/footer :: footer"></th:block>
	<script type="text/javascript">
		$("#menu-proprietarios").addClass('active');
	</script>
</body>
</html>