<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<title>Petcare - Novo Tipo de Estabelecimento</title>
	<th:block th:include="fragments/head :: head"></th:block>
</head>
<body class="light-green lighten-5">
	<th:block th:include="fragments/header :: header"></th:block>
	
	<div class="container">
	    <form th:object="${tipo}" th:action="@{/tipo-estabelecimento}" action="#" method="POST" class="form-horizontal">
	    	<h5><span class="fa fa-home fa-2x" aria-hidden="true"></span> Tipos de Estabelecimentos</h5>
			<div class="form-group">
				<label for="nome" class="control-label">Nome</label>
				<div class="input-group col-sm-8">
					<input th:field="*{nome}" type="text" class="form-control" id="nome" required="required"/>
					<span class="input-group-btn">
						<button class="btn btn-success right" type="submit">Cadastrar</button>
					</span>
				</div>
			</div>
			
			<div th:each="t : ${tipos}" class="chip" th:inline="text">
				[[${t.nome}]]
			</div>

		</form>
    </div>

	<th:block th:include="fragments/footer :: footer"></th:block>
    <script type="text/javascript">
		$("#menu-tipo-estabelecimento").addClass('active');
	</script>
</body>
</html>