body {
	background-color: #fcfcfc;
}

.container {
	width: 90%;
	margin-top: 20px;
}

/** Color Material Icons */
.material-icons.i-red {
	color: #ef5350;
}

.material-icons.i-teal {
	color: #009688;
}

h5.header {
	color: teal;
}

.bold {
	font-weight: bold;
}

nav .brand-logo {
	position: relative;
	margin-left: 40px;
	margin-right: 40px;
}

.tabs .tab a {
	color: teal;
}

.tabs .tab a:hover {
	color: #4db6ac;
}

.tabs .indicator {
	background-color: teal;
}
