<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>
	<footer th:fragment="footer">
		<script type="text/javascript" th:src="@{/resources/js/jquery-1.12.3.min.js}"></script>
		<script type="text/javascript" th:src="@{/resources/js/bootstrap.min.js}"></script>
	    <script type="text/javascript" th:src="@{/resources/js/jquery.dataTables.min.js}"></script>
		<script type="text/javascript" th:src="@{/resources/js/petcare.js}"></script>
	</footer>
</body>
</html>